body {
	font-family: Tahoma;
	font-size: 13px;	
}

th {
	text-align: left;	
}

th, td {
	padding-top: 5px;
	padding-bottom: 4px;
	padding-left: 10px;
	padding-right: 20px;
	border-bottom: 1px solid white;
}

#headerRow {
	background: #687291;	
	color: white;
}

.totalRow {
	display: none;	
}

.lightRow {
	background:	#eeeff2;
}

.darkRow {
	background: #dfe1e7;
}

.number {
	text-align: center;	
}