body {
	font-family: Tahoma;
	font-size: 13px;
	padding-bottom: 4px;			
}

a {
	color: inherit;
	text-decoration: none;	
}

table {
	width: 100%;	
}

td {
	color: black;
	vertical-align: top;	
}

td.normal {
	white-space: nowrap;
	padding-bottom: 3px;
	border-bottom: solid 1px #cccccc;
}

td.abnormal {
	white-space: nowrap;
	padding: 0px;
	padding-top: 1px;
}

td:hover {
	color: #cc6600;
	cursor: pointer;
}

#pageSpacer {
	width: 99%;	
	border-bottom: solid 1px #cccccc;
}

.spacer {
	padding-right: 2px;
	padding-left: 2px;
	padding-top: 5px;
}

.leftDiv {
	padding-left: 1.5px;
	padding-right: 1.5px;
	padding-top: 3px;
	padding-bottom: 3px;
	display: inline;
	background-image: url('left.gif');
	background-repeat: no-repeat;
}

.rightDiv {
	padding-left: 1.5px;
	padding-right: 1.5px;
	padding-top: 3px;
	padding-bottom: 3px;
	display: inline;
	background-image: url('right.gif');
	background-repeat: no-repeat;
}

.tdDiv {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	display: inline;
	background-image: url('mid.gif');
	background-repeat: repeat-x;	
}

.leftSelected {
	padding-left: 1.5px;
	padding-right: 1.5px;
	padding-top: 3px;
	padding-bottom: 3px;
	display: inline;
	background-image: url('left-selected.gif');
	background-repeat: no-repeat;
}

.rightSelected {
	padding-left: 1.5px;
	padding-right: 1.5px;
	padding-top: 3px;
	padding-bottom: 3px;
	display: inline;
	background-image: url('right-selected.gif');
	background-repeat: no-repeat;
}

.selected {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	display: inline;
	background-image: url('mid-selected.gif');
	background-repeat: repeat-x;
	font-weight: bold;
}